body{
     background-color: rgb(223, 223, 223);
}

.App{
    text-align: center;
   
}

.questions{
    width: 50%;
    height: auto;
    background-color: rgb(236, 217, 190);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgb(126, 125, 125) ;
    padding: 10px;
}

ul{
    list-style: none;
}

li{
    background-color: rgb(204, 176, 149);
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 20px;

}

.text{
    font-size: 1.5rem;
    color: rgb(226, 78, 10);
}

.result{
    width: 25%;
    height: auto;
    background-color: rgb(236, 217, 190);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgb(126, 125, 125) ;
    padding: 10px; 
}

button{
    background-color: rgb(48, 150, 48);
    border: none;
    color: beige;
    padding: 10px;
    border-radius: 20px;
}